Repository AI21Labs/ai21-python, pull requests merged in 2024-07, with the labels that each got.

#152 feat: Added Log Verbosity
  ai21/ai21_env_config.py
  ai21/http_client/async_http_client.py
  ai21/http_client/base_http_client.py
  ai21/http_client/http_client.py
  ai21/logger.py
Labels: feature, lgtm, size:l

#156 chore: Update testing workflows
  .github/workflows/integration-tests.yaml
  .github/workflows/test.yaml
Labels: lgtm, size:s

#158 chore: integration-tests.yaml update checkout to specific commit
  .github/workflows/integration-tests.yaml
Labels: lgtm, size:s

#159 chore: integration-tests.yaml update inputs
  .github/workflows/integration-tests.yaml
Labels: lgtm, size:s

#160 chore: integration-tests.yaml update inputs
  .github/workflows/integration-tests.yaml
Labels: lgtm, size:s

#161 chore: add status report to integration workflow
  .github/workflows/integration-tests.yaml
  .github/workflows/lint.yaml
Labels: lgtm, size:xl

#164 ci: semantic pr - allow running on external prs
  .github/workflows/semantic-pr.yml
Labels: lgtm, size:s

#167 ci: remove explicit permissions from semantic-pr.yml
  .github/workflows/semantic-pr.yml
Labels: size:s

#171 ci: Update size label When PR size changes
  .github/workflows/labeler.yml
Labels: ci, size:m

#172 ci: Update size label When PR size changes (#171)
  .github/workflows/labeler.yml
Labels: ci, size:m

#173 fix: Version of action and json parser
  .github/workflows/labeler.yml
Labels: ci

#174 fix: rest.issues call in Github Actions
  .github/workflows/labeler.yml
Labels: ci

#178 fix: size label parse
  .github/workflows/labeler.yml
Labels: lgtm, ci, size:s

#163 feat: Use the same http client for all Clients
  ai21/ai21_http_client/__init__.py
  ai21/ai21_http_client/ai21_http_client.py
  ai21/ai21_http_client/async_ai21_http_client.py
  ai21/ai21_http_client/base_ai21_http_client.py
  ai21/clients/azure/ai21_azure_client.py
  ai21/clients/bedrock/ai21_bedrock_client.py
  ai21/clients/bedrock/resources/__init__.py
  ai21/clients/bedrock/resources/bedrock_completion.py
  ai21/clients/bedrock/resources/bedrock_resource.py
  ai21/clients/bedrock/resources/chat/__init__.py
  ai21/clients/bedrock/resources/chat/bedrock_chat.py
  ai21/clients/bedrock/resources/chat/bedrock_chat_completions.py
  ai21/clients/common/completion_base.py
  ai21/clients/sagemaker/ai21_sagemaker_client.py
  ai21/clients/sagemaker/resources/sagemaker_resource.py
  ai21/clients/studio/ai21_client.py
  ai21/clients/studio/async_ai21_client.py
  ai21/clients/studio/resources/chat/async_chat_completions.py
  ai21/clients/studio/resources/chat/base_chat_completions.py
  ai21/clients/studio/resources/chat/chat_completions.py
  ai21/clients/studio/resources/studio_completion.py
  ai21/clients/studio/resources/studio_library.py
  ai21/clients/studio/resources/studio_resource.py
  ai21/http_client/async_http_client.py
  ai21/http_client/base_http_client.py
  ai21/http_client/http_client.py
  ai21/models/request_options.py
  ai21/services/sagemaker.py
  examples/bedrock/chat/async_chat_completions.py
  examples/bedrock/chat/chat_completions.py
  examples/bedrock/completion.py
  tests/unittests/clients/bedrock/resources/__init__.py
  tests/unittests/clients/bedrock/resources/conftest.py
  tests/unittests/clients/bedrock/resources/test_completion.py
  tests/unittests/clients/bedrock/test_chat_completions.py
  tests/unittests/clients/studio/resources/chat/test_chat_completions.py
  tests/unittests/clients/studio/resources/conftest.py
  tests/unittests/clients/studio/resources/test_async_studio_resource.py
  tests/unittests/clients/studio/resources/test_completion.py
  tests/unittests/clients/studio/resources/test_studio_resources.py
  tests/unittests/clients/studio/test_ai21_client.py
  tests/unittests/clients/studio/test_async_ai21_client.py
  tests/unittests/services/sagemaker_stub.py
  tests/unittests/test_ai21_env_config.py
  tests/unittests/test_ai21_http_client.py
  tests/unittests/test_http_client.py
  tests/unittests/tokenizers/__init__.py
Labels: feature, size:xxl, aws, azure, improvements🤖

#181 fix(ci): Securely use variables in labeler workflow.
  .github/workflows/labeler.yml
Labels: lgtm, size:s, improvements🤖

#184 fix: remove httpx logger on log level info
  ai21/logger.py
Labels: lgtm, size:s

#188 docs: fix base url for azure
  README.md
Labels: documentation, lgtm, size:s

#189 feat: Pydantic migration
  .github/workflows/integration-tests.yaml
  .github/workflows/test.yaml
  ai21/clients/common/answer_base.py
  ai21/clients/common/chat_base.py
  ai21/clients/common/completion_base.py
  ai21/clients/common/gec_base.py
  ai21/clients/common/paraphrase_base.py
  ai21/clients/common/summarize_base.py
  ai21/clients/sagemaker/resources/sagemaker_completion.py
  ai21/clients/studio/resources/chat/base_chat_completions.py
  ai21/clients/studio/resources/studio_resource.py
  ai21/models/_pydantic_compatibility.py
  ai21/models/ai21_base_model.py
  ai21/models/ai21_base_model_mixin.py
  ai21/models/chat/chat_completion_chunk.py
  ai21/models/chat/chat_completion_response.py
  ai21/models/chat/chat_message.py
  ai21/models/chat_message.py
  ai21/models/logprobs.py
  ai21/models/penalty.py
  ai21/models/responses/answer_response.py
  ai21/models/responses/chat_response.py
  ai21/models/responses/completion_response.py
  ai21/models/responses/custom_model_response.py
  ai21/models/responses/dataset_response.py
  ai21/models/responses/embed_response.py
  ai21/models/responses/file_response.py
  ai21/models/responses/gec_response.py
  ai21/models/responses/improvement_response.py
  ai21/models/responses/library_answer_response.py
  ai21/models/responses/library_search_response.py
  ai21/models/responses/paraphrase_response.py
  ai21/models/responses/segmentation_response.py
  ai21/models/responses/summarize_by_segment_response.py
  ai21/models/responses/summarize_response.py
  ai21/models/usage_info.py
  ai21/types.py
  poetry.lock
  pyproject.toml
  tests/unittests/clients/bedrock/test_chat_completions.py
  tests/unittests/clients/studio/resources/conftest.py
  tests/unittests/clients/studio/resources/test_async_studio_resource.py
  tests/unittests/clients/studio/resources/test_studio_resources.py
  tests/unittests/models/response_mocks.py
  tests/unittests/models/test_serialization.py
  tests/unittests/test_stream.py
Labels: lgtm, size:xxl

#192 chore: Lower min pydantic version
  poetry.lock
  pyproject.toml
Labels: lgtm, size:xl

#193 feat: Pydantic Migration
  .github/workflows/integration-tests.yaml
  .github/workflows/test.yaml
  CHANGELOG.md
  ai21/clients/common/answer_base.py
  ai21/clients/common/chat_base.py
  ai21/clients/common/completion_base.py
  ai21/clients/common/gec_base.py
  ai21/clients/common/paraphrase_base.py
  ai21/clients/common/summarize_base.py
  ai21/clients/sagemaker/resources/sagemaker_completion.py
  ai21/clients/studio/resources/chat/base_chat_completions.py
  ai21/clients/studio/resources/studio_resource.py
  ai21/models/_pydantic_compatibility.py
  ai21/models/ai21_base_model.py
  ai21/models/ai21_base_model_mixin.py
  ai21/models/chat/chat_completion_chunk.py
  ai21/models/chat/chat_completion_response.py
  ai21/models/chat/chat_message.py
  ai21/models/chat_message.py
  ai21/models/logprobs.py
  ai21/models/penalty.py
  ai21/models/responses/answer_response.py
  ai21/models/responses/chat_response.py
  ai21/models/responses/completion_response.py
  ai21/models/responses/custom_model_response.py
  ai21/models/responses/dataset_response.py
  ai21/models/responses/embed_response.py
  ai21/models/responses/file_response.py
  ai21/models/responses/gec_response.py
  ai21/models/responses/improvement_response.py
  ai21/models/responses/library_answer_response.py
  ai21/models/responses/library_search_response.py
  ai21/models/responses/paraphrase_response.py
  ai21/models/responses/segmentation_response.py
  ai21/models/responses/summarize_by_segment_response.py
  ai21/models/responses/summarize_response.py
  ai21/models/usage_info.py
  ai21/types.py
  ai21/version.py
  poetry.lock
  pyproject.toml
  tests/unittests/clients/bedrock/test_chat_completions.py
  tests/unittests/clients/studio/resources/conftest.py
  tests/unittests/clients/studio/resources/test_async_studio_resource.py
  tests/unittests/clients/studio/resources/test_studio_resources.py
  tests/unittests/models/response_mocks.py
  tests/unittests/models/test_serialization.py
  tests/unittests/test_stream.py
Labels: documentation, lgtm, size:xxl

#195 ci: fix size labeler
  .github/workflows/labeler.yml
Labels: size:s

#194 fix: remove redundant dependency - dataclass json
  examples/bedrock/async_completion.py
  examples/bedrock/completion.py
  poetry.lock
  pyproject.toml
  tests/integration_tests/clients/bedrock/test_completion.py
Labels: lgtm, size:l
