Repository AI21Labs/ai21-python, pull requests merged in 2024-12, with the labels that each got.

#232 feat: :sparkles: add support for Thread resource
  ai21/clients/common/assistant/assistants.py
  ai21/clients/common/assistant/threads.py
  ai21/clients/studio/resources/assistant/studio_assistant.py
  ai21/clients/studio/resources/assistant/studio_thread.py
  ai21/clients/studio/resources/beta/async_beta.py
  ai21/clients/studio/resources/beta/beta.py
  ai21/models/assistant/__init__.py
  ai21/models/assistant/assistant.py
  ai21/models/assistant/message.py
  ai21/models/responses/assistant_response.py
  ai21/models/responses/thread_response.py
Labels: lgtm, size:xl

#235 fix: Logger to be Local
  ai21/logger.py
Labels: lgtm, size:m

#234 feat: :sparkles: add support for Message resource
  ai21/clients/common/assistant/assistants.py
  ai21/clients/common/assistant/messages.py
  ai21/clients/common/assistant/threads.py
  ai21/clients/studio/resources/assistant/studio_assistant.py
  ai21/clients/studio/resources/assistant/studio_thread.py
  ai21/clients/studio/resources/assistant/studio_thread_message.py
  ai21/models/assistant/message.py
  ai21/models/responses/message_response.py
Labels: lgtm, size:xl

#238 feat: :sparkles: add support for `Plan` and `Route` resources
  ai21/clients/common/beta/assistant/assistants.py
  ai21/clients/common/beta/assistant/messages.py
  ai21/clients/common/beta/assistant/plans.py
  ai21/clients/common/beta/assistant/routes.py
  ai21/clients/common/beta/assistant/runs.py
  ai21/clients/common/beta/assistant/threads.py
  ai21/clients/studio/resources/beta/assistant/assistant.py
  ai21/clients/studio/resources/beta/assistant/assistant_routes.py
  ai21/clients/studio/resources/beta/assistant/assistants_plans.py
  ai21/clients/studio/resources/beta/assistant/thread.py
  ai21/clients/studio/resources/beta/assistant/thread_messages.py
  ai21/clients/studio/resources/beta/assistant/thread_runs.py
  ai21/clients/studio/resources/beta/async_beta.py
  ai21/clients/studio/resources/beta/beta.py
  ai21/models/responses/plan_response.py
  ai21/models/responses/route_response.py
Labels: lgtm, size:xxl

#241 chore: :truck: rename `internet_research` to `web_search`
  ai21/models/assistant/assistant.py
Labels: lgtm, size:s

#242 fix: Adapt assistant sdk to hlp
  ai21/clients/common/beta/assistant/plans.py
  ai21/clients/studio/resources/beta/assistant/assistants_plans.py
  ai21/errors.py
  ai21/models/_pydantic_compatibility.py
  ai21/models/responses/plan_response.py
  examples/studio/assistant/user_defined_plans.py
  tests/integration_tests/clients/test_studio.py
  tests/unittests/clients/studio/resources/assistant/__init__.py
  tests/unittests/clients/studio/resources/assistant/plans/__init__.py
  tests/unittests/clients/studio/resources/assistant/plans/test_plan_body_creation.py
Labels: documentation, lgtm, size:xl

#244 fix: not given as a constant not class
  ai21/clients/studio/resources/beta/assistant/assistant_routes.py
Labels: lgtm, size:m
