Repository AI21Labs/ai21-python, pull requests merged in 2024-08, with the labels that each got.

#191 feat: add stream support for Bedrock
  README.md
  ai21/clients/bedrock/_stream_decoder.py
  ai21/clients/bedrock/ai21_bedrock_client.py
  ai21/clients/studio/resources/studio_resource.py
  ai21/errors.py
  ai21/http_client/async_http_client.py
  ai21/http_client/http_client.py
  ai21/models/ai21_base_model.py
  ai21/stream/async_stream.py
  ai21/stream/stream.py
  ai21/stream/stream_commons.py
  examples/bedrock/chat/async_stream_chat_completions.py
  examples/bedrock/chat/stream_chat_completions.py
  tests/integration_tests/clients/bedrock/test_chat_completions.py
  tests/integration_tests/clients/test_bedrock.py
  tests/unittests/test_aws_stream_decoder.py
Labels: documentation, lgtm, size:xl, aws

#199 docs: Fixed Conversational RAG README
  README.md
  examples/studio/conversational_rag/async_conversational_rag.py
  examples/studio/conversational_rag/conversational_rag.py
Labels: documentation, lgtm, size:m

#205 fix: example text
  examples/studio/chat/chat_function_calling_multiple_tools.py
Labels: lgtm, size:s

#182 feat: add vertex support
  README.md
  ai21/__init__.py
  ai21/clients/vertex/__init__.py
  ai21/clients/vertex/ai21_vertex_client.py
  ai21/clients/vertex/gcp_authorization.py
  ai21/errors.py
  examples/vertex/__init__.py
  examples/vertex/async_chat_completions.py
  examples/vertex/async_stream_chat_completions.py
  examples/vertex/chat_completions.py
  examples/vertex/stream_chat_completions.py
  poetry.lock
  pyproject.toml
  tests/integration_tests/clients/test_vertex.py
  tests/integration_tests/skip_helpers.py
  tests/unittests/clients/bedrock/test_chat_completions.py
  tests/unittests/clients/vertex/__init__.py
  tests/unittests/clients/vertex/test_chat_completions.py
  tests/unittests/commons.py
  tests/unittests/conftest.py
  tests/unittests/test_gcp_authorization.py
  tests/unittests/test_imports.py
Labels: documentation, lgtm, size:xxl, vertex

#206 fix: Bug fixes - embed, streaming response, request retry rename
  ai21/http_client/async_http_client.py
  ai21/http_client/base_http_client.py
  ai21/http_client/http_client.py
  ai21/models/responses/embed_response.py
  tests/unittests/test_http_client.py
Labels: lgtm, size:l
