Repository AI21Labs/ai21-python, pull requests merged in 2024-06, with the labels that each got.

#142 ci: Auto Label
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: lgtm, ci, size:xl

#147 ci: Added parter labels
  .github/labeler.yml
Labels: lgtm, ci, size:m

#148 fix: Add default version to azure url
  ai21/clients/azure/ai21_azure_client.py
Labels: azure, size:m

#150 docs: Fix message pass to create
  README.md
Labels: documentation, size:s

#149 docs: update README.md
  README.md
Labels: documentation

#153 feat: adding Jamaba-Instruct-V1(chat_completions) to AWS Bedrock
  README.md
  ai21/clients/bedrock/ai21_bedrock_client.py
  ai21/clients/bedrock/bedrock_model_id.py
  ai21/clients/bedrock/bedrock_session.py
  ai21/clients/bedrock/resources/chat/__init__.py
  ai21/clients/bedrock/resources/chat/becrock_chat_completions.py
  ai21/clients/bedrock/resources/chat/bedrock_chat.py
  examples/bedrock/chat/chat_completions.py
  tests/integration_tests/clients/test_bedrock.py
Labels: feature, documentation, lgtm, size:xl, aws
