Repository AI21Labs/ai21-python, pull requests merged in 2025-08, with the labels that each got.

#305 ci: Add ready label to automate tests
  .github/workflows/integration-tests.yaml
  .github/workflows/labeler.yml
  .github/workflows/pr-approval.yml
  ai21/models/ai21_base_model.py
  tests/integration_tests/clients/studio/test_maestro.py
Labels: lgtm, size:xl

#302 feat: :tada: Added support for batch mode & batch querying
  ai21/clients/studio/resources/studio_library.py
  ai21/models/__init__.py
  ai21/models/upload_mode.py
  init.sh
Labels: feature, lgtm, size:xl

#307 refactor: Removed old model names
  .github/workflows/pr-approval.yml
  README.md
  ai21/clients/studio/resources/chat/base_chat_completions.py
  examples/studio/batches/batches.py
  examples/studio/chat/async_chat_completions.py
  examples/studio/chat/async_stream_chat_completions.py
  examples/studio/chat/chat_completions.py
  examples/studio/chat/chat_documents.py
  examples/studio/chat/chat_function_calling.py
  examples/studio/chat/chat_function_calling_multiple_tools.py
  examples/studio/chat/chat_response_format.py
  examples/studio/chat/stream_chat_completions.py
  tests/integration_tests/clients/studio/test_chat_completions.py
  tests/unittests/clients/studio/resources/chat/test_chat_completions.py
Labels: documentation, lgtm, size:l
