Repository AI21Labs/ai21-python, pull requests merged in 2025-01, with the labels that each got.

#248 chore: add `error` to `RunResponse` model
  ai21/models/responses/run_response.py
Labels: lgtm, size:s

#250 feat: add submit_input method for thread run
  ai21/clients/common/beta/assistant/runs.py
  ai21/clients/studio/resources/beta/assistant/thread_runs.py
  ai21/models/assistant/run.py
Labels: lgtm, size:l

#251 refactor: :label: change `rag` tool resource to `file_search`
  ai21/models/assistant/assistant.py
Labels: lgtm, size:s

#252 fix: :bug: await needed for async `plans.create`
  ai21/clients/studio/resources/beta/assistant/assistants_plans.py
Labels: lgtm, size:s

#253 fix: required action optional support
  ai21/models/assistant/run.py
Labels: documentation, lgtm, size:s

#254 test: Removed legacy j2 tests
  examples/studio/chat/chat_function_calling.py
  tests/integration_tests/clients/studio/test_chat.py
  tests/integration_tests/clients/test_studio.py
Labels: size:xl

#255 fix: bad endpoint in async thread runs
  ai21/clients/studio/resources/beta/assistant/thread_runs.py
Labels: lgtm, size:s

#257 fix: change schemas field in PlanResponse to be optional
  ai21/models/responses/plan_response.py
  examples/studio/assistant/user_defined_plans.py
Labels: lgtm, size:m

#258 feat: ✨ support deleting assistant
  ai21/clients/common/beta/assistant/assistants.py
  ai21/clients/common/beta/assistant/routes.py
  ai21/clients/studio/resources/beta/assistant/assistant.py
  ai21/clients/studio/resources/beta/assistant/assistant_routes.py
  ai21/models/responses/assistant_response.py
Labels: lgtm, size:m

#263 fix: change tool to a dict
  .pre-commit-config.yaml
  ai21/clients/common/beta/assistant/assistants.py
  ai21/clients/studio/resources/beta/assistant/assistant.py
  ai21/models/responses/assistant_response.py
Labels: size:m
