Repository AI21Labs/ai21-python, pull requests merged in 2025-03, with the labels that each got.

#274 fix: Deprecation warning jamba 1 6
  README.md
  ai21/clients/bedrock/ai21_bedrock_client.py
  ai21/clients/common/completion_base.py
  ai21/clients/studio/resources/chat/async_chat_completions.py
  ai21/clients/studio/resources/chat/base_chat_completions.py
  ai21/clients/studio/resources/chat/chat_completions.py
  ai21/clients/studio/resources/studio_completion.py
  examples/studio/async_chat.py
  examples/studio/chat.py
  examples/studio/chat/async_chat_completions.py
  examples/studio/chat/async_stream_chat_completions.py
  examples/studio/chat/chat_completions.py
  examples/studio/chat/chat_completions_jamba_instruct.py
  examples/studio/chat/chat_documents.py
  examples/studio/chat/chat_function_calling.py
  examples/studio/chat/chat_function_calling_multiple_tools.py
  examples/studio/chat/chat_response_format.py
  examples/studio/chat/stream_chat_completions.py
  tests/integration_tests/clients/bedrock/test_chat_completions.py
  tests/integration_tests/clients/bedrock/test_completion.py
  tests/integration_tests/clients/studio/test_chat_completions.py
  tests/unittests/clients/bedrock/test_chat_completions.py
  tests/unittests/clients/studio/resources/chat/test_chat_completions.py
Labels: documentation, size:xl, aws

#277 refactor: Removed J2 Support from Bedrock
  README.md
  ai21/clients/bedrock/ai21_bedrock_client.py
  ai21/clients/common/completion_base.py
  ai21/clients/studio/resources/studio_completion.py
  ai21/models/__init__.py
  ai21/models/responses/completion_response.py
  examples/bedrock/async_completion.py
  examples/bedrock/completion.py
  tests/integration_tests/clients/bedrock/test_completion.py
  tests/integration_tests/clients/test_bedrock.py
  tests/unittests/clients/studio/resources/conftest.py
  tests/unittests/clients/studio/resources/test_async_studio_resource.py
  tests/unittests/clients/studio/resources/test_studio_resources.py
  tests/unittests/models/response_mocks.py
  tests/unittests/models/test_serialization.py
Labels: documentation, lgtm, size:xxl, aws

#280 chore: Use correct model id name for usage examples
  README.md
Labels: documentation, size:s

#276 feat: :sparkles: introduce Maestro
  .git-hooks/check_api_key.sh
  .github/workflows/integration-tests.yaml
  .github/workflows/test.yaml
  .pre-commit-config.yaml
  README.md
  ai21/clients/common/maestro/__init__.py
  ai21/clients/common/maestro/maestro.py
  ai21/clients/common/maestro/run.py
  ai21/clients/studio/resources/beta/async_beta.py
  ai21/clients/studio/resources/beta/beta.py
  ai21/clients/studio/resources/maestro/__init__.py
  ai21/clients/studio/resources/maestro/maestro.py
  ai21/clients/studio/resources/maestro/run.py
  ai21/models/_pydantic_compatibility.py
  ai21/models/maestro/__init__.py
  ai21/models/maestro/run.py
  examples/studio/maestro/__init__.py
  examples/studio/maestro/async_run.py
  examples/studio/maestro/run.py
  tests/integration_tests/clients/test_studio.py
Labels: documentation, lgtm, size:xl

#278 feat: Batch API in Beta
  .gitignore
  ai21/clients/studio/ai21_client.py
  ai21/clients/studio/async_ai21_client.py
  ai21/clients/studio/resources/batch/__init__.py
  ai21/clients/studio/resources/batch/async_batches.py
  ai21/clients/studio/resources/batch/base_batches.py
  ai21/clients/studio/resources/batch/batches.py
  ai21/clients/studio/resources/beta/async_beta.py
  ai21/clients/studio/resources/beta/beta.py
  ai21/clients/studio/resources/studio_library.py
  ai21/clients/studio/resources/studio_resource.py
  ai21/files/__init__.py
  ai21/files/downloaded_file.py
  ai21/models/responses/batch_response.py
  ai21/pagination/__init__.py
  ai21/pagination/async_pagination.py
  ai21/pagination/base_pagination.py
  ai21/pagination/sync_pagination.py
  ai21/types.py
  examples/studio/batches/__init__.py
  examples/studio/batches/async_batches.py
  examples/studio/batches/batches.py
Labels: feature, lgtm, size:xxl
